@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: rgb(40, 40, 40);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.grid {
    /* background-color: gray; */
    /* width: 70vw;
    height: 90vh; */
    display: flex;
    flex-direction: column;
}

.grid > div {
    display: flex;
    flex-direction: row;
}

.single-box {
    border-radius: 3px;
    border: 0px;
    margin: 1px;
    background-color: gray;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 90vh;
    font-family: "Inter", sans-serif;
    width: 8vw;
    margin-left: 20px;
}

.top {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.buttons button {
    font-family: "Inter", sans-serif;
    width: 8vw;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
    color: white;
}

.top img {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.top div {
    margin-bottom: 20px;
}

.solved {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

.marked {
    background-color: rgb(83, 0, 0);
}

.paused-div {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    align-items: center;
    font-size: 30px;
}